.headerComponent{
    display: flex;
    justify-content: space-between;
    padding: 13px 18px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #E5E5E5;
    align-items: center;
    .componentName{
        .title{
            font-weight: 500;
            font-size: 24px;
            color: #1B3131;
            margin-left: 16px;
            text-transform: capitalize;
        }
    }
    .user-side{
        .user-avatar{
            width: 30px;
            height: 32px;
        }
    }
}