<div class="project-stage-app">
    <div class="project-header">
        <div class="project-name">
            <img src="../../assets/img/stage.svg.svg" alt="">
        </div>
        <div class="project-elips-group">
            <img src="../../assets/img/pointer.svg.svg" alt="">
        </div>
    </div>
    <div class = "project-user-name">
        <span class="user-name">
            <img src="../../assets/img/userimg.svg.svg" alt="">
            Geworg Arakel
        </span>
        
    </div>
    <div class="">
        <span class="user-work">Developers</span>
    </div>
    <span></span>
</div>
